.navigation-links61-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links61-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links61-navlink:hover {
  color: var(--dl-color-gray-700);
  cursor: pointer;
}
.navigation-links61-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links61-navlink1:hover {
  color: var(--dl-color-gray-700);
  cursor: pointer;
}
.navigation-links61-link {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links61-link:hover {
  color: var(--dl-color-gray-700);
  cursor: pointer;
}
.navigation-links61-link1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links61-link1:hover {
  color: var(--dl-color-gray-700);
  cursor: pointer;
}
.navigation-links61-text {
  margin-left: var(--dl-space-space-twounits);
}


















@media(max-width: 661px) {
  .navigation-links61-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links61-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links61-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links61-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links61-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links61-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.course-info-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.course-info-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.course-info-icon {
  width: 24px;
  height: 24px;
}
.course-info-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.course-info-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.course-info-container01 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.course-info-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.course-info-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.course-info-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.course-info-steps {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.course-info-text {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.course-info-text003 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.course-info-step {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-line01 {
  flex: 1;
  height: 0px;
  display: none;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container04 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon04 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line02 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container05 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text006 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text007 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step01 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line03 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container07 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon06 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line04 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container08 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text024 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text025 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step02 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line05 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container10 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon08 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line06 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container11 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text040 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text041 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step03 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line07 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container13 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon10 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line08 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-line09 {
  flex: 1;
  height: 0px;
  display: none;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container14 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text062 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text063 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-container15 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.course-info-step04 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line10 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-line11 {
  flex: 1;
  height: 0px;
  display: none;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container17 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon12 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line12 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container18 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text075 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text076 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step05 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line13 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container20 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon14 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line14 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container21 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text079 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text080 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step06 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line15 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container23 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon16 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line16 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container24 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text086 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text087 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step07 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line17 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container26 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon18 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line18 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-line19 {
  flex: 1;
  height: 0px;
  display: none;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container27 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text101 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text102 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-container28 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.course-info-step08 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line20 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-line21 {
  flex: 1;
  height: 0px;
  display: none;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container30 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon20 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line22 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container31 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text110 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text111 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-step09 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.course-info-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.course-info-line23 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container33 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.course-info-icon22 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.course-info-line24 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-line25 {
  flex: 1;
  height: 0px;
  display: none;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.course-info-container34 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.course-info-text121 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.course-info-text122 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  font-family: Georgia;
  line-height: 1;
}
.course-info-navlink {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.course-info-navlink:hover {
  transform: scale(1.02);
}
.course-info-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.course-info-icon24 {
  width: 24px;
  height: 24px;
}
.course-info-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.course-info-icon26 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1600px) {
  .course-info-step {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container03 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container05 {
    position: relative;
  }
  .course-info-text006 {
    font-size: 1.5rem;
  }
  .course-info-text007 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text009 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text012 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text015 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text018 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text021 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step01 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container06 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container08 {
    position: relative;
  }
  .course-info-text024 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .course-info-text025 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text027 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text030 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text033 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text036 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step02 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container09 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container11 {
    position: relative;
  }
  .course-info-text040 {
    font-size: 1.5rem;
  }
  .course-info-text041 {
    color: var(--dl-color-gray-500);
  }
  .course-info-step03 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container12 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container14 {
    position: relative;
  }
  .course-info-text062 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .course-info-text063 {
    color: var(--dl-color-gray-500);
  }
  .course-info-text065 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text068 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text071 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step04 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container16 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container18 {
    position: relative;
  }
  .course-info-text075 {
    font-size: 1.5rem;
  }
  .course-info-text076 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step05 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container19 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container21 {
    position: relative;
  }
  .course-info-text079 {
    font-size: 1.5rem;
  }
  .course-info-text080 {
    color: var(--dl-color-gray-500);
  }
  .course-info-text082 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step06 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container22 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container24 {
    position: relative;
  }
  .course-info-text086 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .course-info-text087 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text089 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text092 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text095 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text098 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step07 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container25 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container27 {
    position: relative;
  }
  .course-info-text101 {
    font-size: 1.5rem;
  }
  .course-info-text102 {
    color: var(--dl-color-gray-500);
  }
  .course-info-text104 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .course-info-text107 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .course-info-step08 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container29 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container31 {
    position: relative;
  }
  .course-info-text110 {
    font-size: 1.5rem;
  }
  .course-info-text111 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text113 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text116 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text119 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-step09 {
    width: auto;
    height: auto;
    align-self: stretch;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-container32 {
    position: relative;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container34 {
    position: relative;
  }
  .course-info-text121 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .course-info-text122 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    line-height: 1;
  }
  .course-info-text124 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .course-info-text127 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
}
@media(max-width: 991px) {
  .course-info-nav1 {
    padding-top: 16px;
  }
  .course-info-steps {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .course-info-text {
    text-align: center;
  }
  .course-info-text003 {
    text-align: center;
  }
  .course-info-container02 {
    flex-direction: row;
  }
  .course-info-text006 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text007 {
    font-size: 0.6rem;
  }
  .course-info-text024 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text025 {
    font-size: 0.6rem;
  }
  .course-info-text040 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text041 {
    font-size: 0.6rem;
  }
  .course-info-text062 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text063 {
    font-size: 0.6rem;
  }
  .course-info-container15 {
    flex-direction: row;
  }
  .course-info-text075 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text076 {
    font-size: 0.6rem;
  }
  .course-info-text079 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text080 {
    font-size: 0.6rem;
  }
  .course-info-text086 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text087 {
    font-size: 0.6rem;
  }
  .course-info-text101 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text102 {
    font-size: 0.6rem;
  }
  .course-info-container28 {
    flex-direction: row;
  }
  .course-info-text110 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text111 {
    font-size: 0.6rem;
  }
  .course-info-text121 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  .course-info-text122 {
    font-size: 0.6rem;
  }
}
@media(max-width: 767px) {
  .course-info-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .course-info-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container03 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line01 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line02 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container05 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text006 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text007 {
    text-align: left;
  }
  .course-info-step01 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container06 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line03 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line04 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container08 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text024 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text025 {
    text-align: left;
  }
  .course-info-step02 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container09 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line05 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line06 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container11 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text040 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text041 {
    text-align: left;
  }
  .course-info-step03 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container12 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line07 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line08 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line09 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container14 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text062 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text063 {
    text-align: left;
  }
  .course-info-step04 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container16 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line10 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line11 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line12 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container18 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text075 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text076 {
    text-align: left;
  }
  .course-info-step05 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container19 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line13 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line14 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container21 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text079 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text080 {
    text-align: left;
  }
  .course-info-step06 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container22 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line15 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line16 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container24 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text086 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text087 {
    text-align: left;
  }
  .course-info-step07 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container25 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line17 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line18 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line19 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container27 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text101 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text102 {
    text-align: left;
  }
  .course-info-step08 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container29 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line20 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line21 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line22 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container31 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text110 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text111 {
    text-align: left;
  }
  .course-info-step09 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .course-info-container32 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .course-info-line23 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line24 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-line25 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .course-info-container34 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .course-info-text121 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text122 {
    text-align: left;
  }
}
@media(max-width: 661px) {
  .course-info-header {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .course-info-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-nav {
    display: none;
  }
  .course-info-container01 {
    padding: var(--dl-space-space-unit);
  }
  .course-info-icon02 {
    display: flex;
  }
  .course-info-steps {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .course-info-text {
    font-size: 2.5rem;
  }
  .course-info-text003 {
    font-size: 1rem;
  }
  .course-info-container02 {
    flex-direction: column;
  }
  .course-info-step {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-line01 {
    display: flex;
  }
  .course-info-step01 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-step02 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-step03 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-line09 {
    display: flex;
  }
  .course-info-container15 {
    flex-direction: column;
  }
  .course-info-step04 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-line11 {
    display: flex;
  }
  .course-info-step05 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-step06 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-step07 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-line19 {
    display: flex;
  }
  .course-info-container28 {
    flex-direction: column;
  }
  .course-info-step08 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-line21 {
    display: flex;
  }
  .course-info-step09 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .course-info-line25 {
    display: flex;
  }
  .course-info-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .course-info-text130 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .course-info-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-container05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text006 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container08 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text024 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container11 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text040 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container14 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text062 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container18 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text075 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container21 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text079 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container24 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text086 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container27 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text101 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container31 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text110 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .course-info-container34 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .course-info-text121 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 320px) {
  .course-info-header {
    padding: var(--dl-space-space-unit);
  }
  .course-info-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .course-info-text {
    font-size: 1.4rem;
  }
  .course-info-text003 {
    font-size: 1rem;
  }
  .course-info-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .course-info-text130 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

