<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Buy-Page - exported project</title>
    <meta property="og:title" content="Buy-Page - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div>
      <link href="{{ url_for('static', filename='css/buy-page.css') }}" rel="stylesheet" />

      <div class="buy-page-container">
        {% include "header.html" %}
<!--        <header data-role="Accordion" class="buy-page-header">-->
<!--          <svg viewBox="0 0 1024 1024" class="buy-page-icon">-->
<!--            <path-->
<!--              d="M724.139 266.709c-41.259-22.955-93.227-8.021-116.053 33.152l-158.421 285.099-90.667-90.667c-33.323-33.323-87.339-33.323-120.661 0s-33.323 87.339 0 120.661l170.667 170.667c16.128 16.171 37.888 25.045 60.331 25.045 3.925 0 7.893-0.256 11.819-0.853 26.496-3.712 49.749-19.627 62.763-43.051l213.333-384c22.912-41.216 8.064-93.141-33.109-116.053z"-->
<!--            ></path>-->
<!--          </svg>-->
<!--          <div class="buy-page-separator"></div>-->
<!--          <nav class="buy-page-nav">-->
<!--            <nav class="navigation-links61-nav">-->
<!--              <a href="about-us.html" class="navigation-links61-navlink">-->
<!--                <span>О нас</span>-->
<!--              </a>-->
<!--              <a href="course-info.html" class="navigation-links61-navlink1">-->
<!--                <span>Программа курса</span>-->
<!--              </a>-->
<!--              <a href="#price" class="navigation-links61-link">-->
<!--                <span>Стоимость</span>-->
<!--              </a>-->
<!--              <a href="#teachers" class="navigation-links61-link1">-->
<!--                <span>Преподаватели</span>-->
<!--              </a>-->
<!--              <span class="navigation-links61-text"></span>-->
<!--            </nav>-->
<!--          </nav>-->
<!--          <div data-role="AccordionHeader" class="buy-page-accordion-header">-->
<!--            <div class="buy-page-container1">-->
<!--              <svg viewBox="0 0 1024 1024" class="buy-page-icon2">-->
<!--                <path-->
<!--                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"-->
<!--                ></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div data-role="AccordionContent" class="buy-page-accordion-content">-->
<!--            <div class="buy-page-nav1">-->
<!--              <nav class="navigation-links61-nav">-->
<!--                <a href="about-us.html" class="navigation-links61-navlink">-->
<!--                  <span>О нас</span>-->
<!--                </a>-->
<!--                <a href="course-info.html" class="navigation-links61-navlink1">-->
<!--                  <span>Программа курса</span>-->
<!--                </a>-->
<!--                <a href="#price" class="navigation-links61-link">-->
<!--                  <span>Стоимость</span>-->
<!--                </a>-->
<!--                <a href="#teachers" class="navigation-links61-link1">-->
<!--                  <span>Преподаватели</span>-->
<!--                </a>-->
<!--                <span class="navigation-links61-text"></span>-->
<!--              </nav>-->
<!--            </div>-->
<!--          </div>-->
<!--        </header>-->
        <form class="buy-page-pricing" onsubmit="return validateForm()" method="post" action="#">
          <div class="buy-page-container2">
            <div class="buy-page-container3">
              <h1 class="buy-page-text">Покупка</h1>
              <span class="buy-page-text01">
                После покупки вам на почту придет ссылку на курс. Если вы купите
                "Премиум доступ", вы будете автоматически добавлены в беседы и
                сопровождающие чаты.&nbsp;&nbsp;
              </span>
            </div>
            <div class="buy-page-container4">
              <input id="name" name="name" type="text" placeholder="Имя*" class="buy-page-textinput input" required>
              <input id="surname" name="surname" type="text" placeholder="Фамилия*" class="buy-page-textinput1 input" required>
              <input id="email" name="email" type="text" placeholder="Электронная почта*" class="buy-page-textinput2 input" required>
              <span class="buy-page-text02">
              <span>Обязательные поля*</span>
              <br />
              </span>
            </div>


<!--            <form class="buy-page-container4">-->
<!--              <input-->
<!--                type="text"-->
<!--                placeholder="Имя*"-->
<!--                class="buy-page-textinput input"-->
<!--              />-->
<!--              <input-->
<!--                type="text"-->
<!--                placeholder="Фамилия*"-->
<!--                class="buy-page-textinput1 input"-->
<!--              />-->
<!--              <input-->
<!--                type="text"-->
<!--                placeholder="Электронная почта*"-->
<!--                class="buy-page-textinput2 input"-->
<!--              />-->
<!--              <span class="buy-page-text02">-->
<!--                <span>Обязательные поля*</span>-->
<!--                <br />-->
<!--              </span>-->
<!--            </form>-->

          </div>
          <div class="buy-page-container5">
            <div class="buy-page-container6">
              <div class="buy-page-container7">
                <span class="buy-page-text05">Базовый</span>
                <span class="buy-page-text06">{{base_price}}</span>
                <span class="buy-page-text07">
                  ДОСТУП КО ВСЕМ МОДУЛЯМ&nbsp;КУРСА
                </span>
                <span class="buy-page-text08">
                  <span>САМОСТОЯТЕЛЬНОЕ ОБУЧЕНИЕ</span>
                  <span></span>
                </span>
                <span class="buy-page-text11">
                  ДОСТУП К ОБУЧАЮЩИМ МАТЕРИАЛАМ 3 МЕСЯЦА ПОСЛЕ ОКОНЧАНИЯ
                </span>
<!--                <a-->
<!--                  href="https://www.google.com/"-->
<!--                  target="_blank"-->
<!--                  rel="noreferrer noopener"-->
<!--                  class="buy-page-link button"-->
<!--                >-->
<!--                  <button value="1" type="submit">Купить</button>-->
<!--                  Купить-->
<!--                </a>-->
                <button class="buy-page-link button" type="submit" value="VALUE1" name="action1">Купить</button>
              </div>
              <div class="buy-page-container8">
                <span class="buy-page-text12">Премиум</span>
                <span class="buy-page-text13">{{premium_price}}</span>
                <span class="buy-page-text14">
                  <span>ДОСТУП КО ВСЕМ МОДУЛЯМ КУРСА</span>
                  <span></span>
                </span>
                <span class="buy-page-text17">
                  <span>ПРОВЕРКА ДОМАШНЕГО ЗАДАНИЯ</span>
                  <span></span>
                </span>
                <span class="buy-page-text20">
                  <span>
                    <span>ОБРАТНАЯ СВЯЗЬ ОТ ПРЕПОДАВАТЕЛЕЙ</span>
                    <span></span>
                  </span>
                  <span>
                    <span></span>
                    <span></span>
                  </span>
                </span>
                <span class="buy-page-text27">
                  <span>ЖИВЫЕ ВЕБИНАРЫ</span>
                  <span></span>
                </span>
                <span class="buy-page-text30">
                  <span>ЗАКРЫТЫЙ ЧАТ</span>
                  <span></span>
                </span>
                <span class="buy-page-text33">
                  <span>
                    ДОСТУП К ОБУЧАЮЩИМ МАТЕРИАЛАМ 3 МЕСЯЦА ПОСЛЕ ОКОНЧАНИЯ
                  </span>
                  <span></span>
                </span>
<!--                <a-->
<!--                  href="https://www.google.com/"-->
<!--                  target="_blank"-->
<!--                  rel="noreferrer noopener"-->
<!--                  class="buy-page-link1 button"-->
<!--                >-->
<!--                  <span>-->
<!--                    <span>Купить</span>-->
<!--                    <br />-->
<!--                  </span>-->
<!--                </a>-->
                <button class="buy-page-link1 button" value="VALUE2" name="action2" type="submit">Купить</button>
              </div>
            </div>
          </div>
        </form>
        {% include "footer.html" %}
      </div>
    </div>
  <script>
                function validateForm() {
                    const firstName = document.querySelector('.buy-page-textinput');
                    const lastName = document.querySelector('.buy-page-textinput1');
                    const email = document.querySelector('.buy-page-textinput2');

                    if (firstName.value === '' || lastName.value === '' || email.value === '') {
                        alert('Пожалуйста, заполните все обязательные поля!');
                        return false;
                    }

                    // Add additional validation for the email field if needed

                    return true;
                }
            </script>
  </body>
</html>
