<div>
  <link href="./gallery-card1.css" rel="stylesheet" />
  <div class="gallery-card1-gallery-card">
    <img
      alt="image"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/32237205-7aef-45b3-ba28-15f259ced39c/099f21c8-5a2f-4be0-b8e6-8fc944cee052?org_if_sml=130376"
      class="gallery-card1-image"
    />
    <h2 class="gallery-card1-text"><span>Кид Харингтон</span></h2>
    <span class="gallery-card1-text1"><span>Макет для BI GROUP</span></span>
  </div>
</div>
