<div>
  <link href="./navigation-links61.css" rel="stylesheet" />
  <nav class="navigation-links61-nav">
    <a href="about-us.html" class="navigation-links61-navlink">
      <span>О нас</span>
    </a>
    <a href="course-info.html" class="navigation-links61-navlink1">
      <span>Программа курса</span>
    </a>
    <a href="#price" class="navigation-links61-link"><span>Стоимость</span></a>
    <a href="#teachers" class="navigation-links61-link1">
      <span>Преподаватели</span>
    </a>
    <span class="navigation-links61-text"></span>
  </nav>
</div>
