.step-step {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.step-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.step-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.step-container1 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.step-icon {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.step-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.step-container2 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.step-text {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.step-text1 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
  line-height: 1;
}
@media(max-width: 1600px) {
  .step-container {
    position: relative;
  }
  .step-container2 {
    position: relative;
  }
  .step-text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .step-text1 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .step-text3 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .step-text6 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
}
@media(max-width: 767px) {
  .step-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .step-container {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .step-line {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .step-line1 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .step-container2 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .step-text {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .step-text1 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .step-container2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .step-text {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
}
