<div>
  <link href="./testimonial-card1.css" rel="stylesheet" />
  <div class="testimonial-card1-testimonial-card">
    <svg viewBox="0 0 1024 1024" class="testimonial-card1-icon">
      <path
        d="M896 384h-256v554h-86v-256h-84v256h-86v-554h-256v-86h768v86zM512 86q34 0 60 25t26 59-26 60-60 26-60-26-26-60 26-59 60-25z"
      ></path>
    </svg>
    <div class="testimonial-card1-testimonial">
      <span class="testimonial-card1-text">
        <span>
          Швейцарии (1895 1914), и с 1933 года до конца жизни — в США. Из
          Германии с приходом к власти нацистов был вынужден эмигрировать и
          после публичного отказа от гражданства Германии (весной 1933 года) Жил
          в Германии (18791895, 1914—1933),
        </span>
      </span>
      <span class="testimonial-card1-text1">
        <span>Zhibek Ongarsynova</span>
      </span>
      <span class="testimonial-card1-text2">
        <span>Interior Designer</span>
      </span>
      <img
        alt="profile"
        src="Швейцарии (1895 1914), и с 1933 года до конца жизни — в США. Из Германии с приходом к власти нацистов был вынужден   эмигрировать и после публичного отказа от гражданства Германии (весной 1933 года) Жил в Германии (18791895, 1914—1933),"
        class="testimonial-card1-image"
      />
    </div>
  </div>
</div>
